# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
stats.html

public/image/homescreen/*
!public/image/homescreen/background.webp
!public/image/homescreen/background-dark.webp

test
public/config/json
/public/image/ScenarioImage/
/public/config/yaml/image/
index.json
