@import "../../../_styles/variables.scss";
@import "../../../_styles/index.scss";

@font-face {
  font-family: "HarmonyOS Sans SC Bold";
  src: local("HarmonyOS Sans SC Bold");
  font-weight: 700;
}

.medium-zoom-image--opened {
  z-index: 100;
}

.medium-zoom-overlay {
  z-index: 99;
}

body {
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: var(--vp-font-family-base) !important;
}

html.dark {
  figure img {
    filter: brightness(0.8);
  }
  .medium-zoom-image--opened {
    filter: brightness(1);
  }
}

figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 8px;

  img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 8px;
  }

  figcaption {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    color: var(--color-text-3);
    text-align: center;
  }
}

mark {
  background-color: var(--vp-c-brand-soft);
  padding: 0 4px;
  border-radius: 4px;
}
.spoiler {
  color: transparent;
  background-color: var(--vp-c-brand-3);
  padding: 0 4px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: help;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    background-color: transparent;
  }
}

a.title span,
.VPNavBarMenuLink.active,
.item h2.text,
a.VPButton,
.font-bold {
  font-weight: 700;
  font-family: "Wix Madefor", "HarmonyOS Sans SC Bold",
    var(--vp-font-family-base);
}

.vp-doc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title {
    font-weight: 700;
    font-family: "Wix Madefor", "HarmonyOS Sans SC Bold",
      var(--vp-font-family-base);
  }

  p {
    text-align: justify;
  }

  table {
    display: table;
    width: 100%;

    td {
      line-height: 22px;
    }

    th {
      &.arco-table-th {
        border: none;
      }
    }

    th,
    td {
      border: inherit;
    }
  }
}

:root {
  --vp-font-family-base: "Wix Madefor", "HarmonyOS Sans SC",
    "Microsoft YaHei", "PingFang SC", -apple-system, system-ui, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", BlinkMacSystemFont, "Helvetica Neue",
    "Hiragino Sans GB", Arial, sans-serif;
  --vp-font-family-mono: "SFMono-Regular", "Consolas", "Liberation Mono",
    "Menlo", "Courier", "monospace";
}

.vp-doc tr:nth-child(2n) {
  background-color: inherit;
}

.vp-doc tr {
  &:hover {
    background-color: var(--vp-c-bg-soft);
  }
}

.vp-doc p.eden-ui {
  margin: 0;
}

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--arona-blue-6);
  --vp-c-brand-2: var(--arona-blue-5);
  --vp-c-brand-3: var(--arona-blue-6);
  --vp-c-brand-soft: var(--arona-blue-1);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--warning-6);
  --vp-c-warning-2: var(--warning-5);
  --vp-c-warning-3: var(--warning-6);
  --vp-c-warning-soft: var(--warning-1);

  --vp-c-danger-1: var(--danger-6);
  --vp-c-danger-2: var(--danger-5);
  --vp-c-danger-3: var(--danger-6);
  --vp-c-danger-soft: var(--danger-1);

  --vp-c-text-1: var(--color-text-5);
  --vp-c-text-2: var(--color-text-4);
  --vp-sidebar-bg-color: var(--color-fill-1);
  --vp-c-bg: var(--color-fill-base);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--arona-blue-6) 30%,
    var(--arona-blue-2)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--arona-blue-4) 50%,
    var(--arona-blue-1) 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

