@import url("https://fonts.blue-archive.io/harmonyos-sans-webfont/harmonyos-sans-sc-400.css");
@import url("https://fonts.blue-archive.io/harmonyos-sans-webfont/harmonyos-sans-sc-700.css");

/* @Author: Aaron-212
*  @Date: 2024-08-11
*  @Description: 把 Text + Display 放到一个 Optical Size 轴上
*                的变体字体，用于英文排版
*  @Rules: ≤ 16px 用 Text，16-20px 可变，≥ 20px 用 Display
*/
@font-face {
  font-family: "Wix Madefor";
  src: url("https://fonts.blue-archive.io/wix-madefor-adjusted/WixMadeforVF.woff2")
      format("woff2"),
    url("https://fonts.blue-archive.io/wix-madefor-adjusted/WixMadeforVF.woff")
      format("woff"),
    url("https://fonts.blue-archive.io/wix-madefor-adjusted/WixMadeforVF.ttf")
      format("truetype");
  font-display: swap;
}

$eden-font-family: "Wix Madefor", "HarmonyOS Sans SC", "Pingfang SC",
  "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$eden-font-weight: 400;
$eden-title-font-weight: 700;

$eden-font-size-body-3: 14px;
$eden-line-height-body-3: 22px;

$eden-font-size-body-2: 16px;
$eden-line-height-body-2: 24px;

$eden-font-size-body-1: 18px;
$eden-line-height-body-1: 26px;

$eden-font-size-title-3: 20px;
$eden-line-height-title-3: 28px;

$eden-font-size-title-2: 24px;
$eden-line-height-title-2: 32px;

$eden-font-size-title-1: 28px;
$eden-line-height-title-1: 36px;

$eden-font-size-display-3: 32px;
$eden-line-height-display-3: 40px;

$eden-font-size-display-2: 48px;
$eden-line-height-display-2: 56px;

$eden-font-size-display-1: 64px;
$eden-line-height-display-1: 76px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --arona-blue-6: #2773e1;
  --arona-blue-5: #4a91e7;
  --arona-blue-7: #1857bc;
  --arona-blue-4: #6faced;
  --arona-blue-3: #96c6f3;
  --arona-blue-2: #bedef9;
  --arona-blue-1: #e8f5ff;
  --color-border-4: #a0a0a0;
  --color-border-3: #b3b3b3;
  --color-border-2: #ececec;
  --color-border-1: #f2f2f2;
  --color-fill-5: #616161;
  --color-fill-4: #818181;
  --color-fill-3: #c0c0c0;
  --color-fill-2: #dfdfdf;
  --color-fill-1: #f2f2f2;
  --color-fill-base: #ffffff;
  --color-text-5: #242424;
  --color-text-4: #505050;
  --color-text-3: #7c7c7c;
  --color-text-2: #bdbdbd;
  --color-text-1: #ffffff;
  --success-6: #6dc425;
  --success-5: #88d045;
  --success-7: #53a618;
  --success-3: #c0e790;
  --success-2: #dbf3ba;
  --success-1: #f6ffe8;
  --danger-6: #e9583b;
  --danger-5: #ed795b;
  --danger-7: #c23a25;
  --danger-3: #f6b79f;
  --danger-2: #fbd4c3;
  --danger-1: #fff0e8;
  --warning-6: #ff7d00;
  --warning-5: #ff9a2e;
  --warning-7: #d25f00;
  --warning-3: #ffcf8b;
  --warning-2: #ffe4ba;
  --warning-1: #fff7e8;
  --cyan-6: #5ebabf;
  --cyan-5: #75cacc;
  --cyan-7: #3c9aa2;
  --cyan-3: #aae5e2;
  --cyan-2: #c8f2ef;
  --cyan-1: #e8fffc;
  --gold-6: #f7ba1e;
  --magenta-6: #e62c8c;
  --magenta-5: #eb4f9a;
  --magenta-7: #c01b76;
  --magenta-3: #f599bf;
  --magenta-2: #fac0d6;
  --magenta-1: #ffe8f0;
  --plana-pink-6: #e62c8c;
  --plana-pink-5: #eb4f9a;
  --plana-pink-7: #c01b76;
  --plana-pink-3: #f599bf;
  --plana-pink-2: #fac0d6;
  --plana-pink-1: #ffe8f0;
  --purple-6: #722ed1;
  --purple-5: #8d4eda;
  --purple-7: #551db0;
  --purple-3: #c396ed;
  --purple-2: #ddbef6;
  --purple-1: #f5e8ff;
  --pink-purple-6: #d91ad9;
  --pink-purple-5: #e13edb;
  --pink-purple-7: #b010b6;
  --pink-purple-3: #f08ee6;
  --pink-purple-2: #f7baef;
  --pink-purple-1: #ffe8fb;
  --lime-6: #9fdb1d;
  --lime-5: #b5e241;
  --lime-7: #7eb712;
  --lime-3: #dcf190;
  --lime-2: #edf8bb;
  --lime-1: #fcffe8;
  --yellow-6: #fadc19;
  --yellow-5: #fbe842;
  --yellow-7: #cfaf0f;
  --yellow-3: #fdfa94;
  --yellow-2: #fefebe;
  --yellow-1: #feffe8;
  --orange-red-6: #f77234;
  --orange-red-5: #f99057;
  --orange-red-7: #cc5120;
  --orange-red-3: #fcc59f;
  --orange-red-2: #fdddc3;
  --orange-red-1: #fff3e8;
  --blue-6: #3491fa;
  --blue-5: #57a9fb;
  --blue-7: #206ccf;
  --blue-3: #9fd4fd;
  --blue-2: #c3e7fe;
  --blue-1: #e8f7ff;
  --gold-5: #f9cc45;
  --gold-7: #cc9213;
  --gold-3: #fce996;
  --gold-2: #fdf4bf;
  --gold-1: #fffce8;
  --explosion-6: #c23a25;
  --explosion-5: #ce5c45;
  --explosion-7: #a52618;
  --explosion-3: #e7a48f;
  --explosion-2: #f3c9ba;
  --explosion-1: #ffefe8;
  --pierce-6: #cc9213;
  --pierce-5: #d6a937;
  --pierce-7: #ac740c;
  --pierce-3: #ebd589;
  --pierce-2: #f5e9b7;
  --pierce-1: #fffce8;
  --unarmed-6: #216f9c;
  --unarmed-5: #3e8ab0;
  --unarmed-7: #165a88;
  --unarmed-3: #88c2d7;
  --unarmed-2: #b5dfeb;
  --unarmed-1: #e8faff;
  --vibrate-6: #995aa6;
  --vibrate-5: #ae71b8;
  --vibrate-7: #7f3a90;
  --vibrate-3: #d8a7db;
  --vibrate-2: #ecc6ed;
  --vibrate-1: #ffe8ff;
  --color-gray-9: #000000;
  --color-gray-8: #141414;
  --color-gray-7: #242424;
  --color-gray-6: #404040;
  --color-gray-5: #7c7c7c;
  --color-gray-4: #c0c0c0;
  --color-gray-3: #dedede;
  --color-gray-2: #f2f2f2;
  --color-gray-1: #ffffff;
}

html.dark {
  --arona-blue-6: #4b91e7;
  --arona-blue-5: #397ee1;
  --arona-blue-7: #70aded;
  --arona-blue-4: #225dbc;
  --arona-blue-3: #114097;
  --arona-blue-2: #052772;
  --arona-blue-1: #00164d;
  --success-6: #8ed051;
  --success-5: #7ac43d;
  --success-7: #aadc74;
  --success-3: #408814;
  --success-2: #296a07;
  --success-1: #184d00;
  --warning-6: #ff9626;
  --warning-5: #ff8d1f;
  --warning-7: #ffb357;
  --warning-3: #a64b0a;
  --warning-2: #793004;
  --warning-1: #4d1b00;
  --danger-6: #ed7d60;
  --danger-5: #e96449;
  --danger-7: #f29b81;
  --danger-3: #9b2215;
  --danger-2: #740d05;
  --danger-1: #4d0300;
  --cyan-6: #8dcbcc;
  --cyan-5: #69bbbf;
  --cyan-7: #a3d9d8;
  --cyan-3: #247a86;
  --cyan-2: #0e5b69;
  --cyan-1: #003e4d;
  --orange-red-6: #f9925a;
  --orange-red-5: #f77e45;
  --orange-red-7: #faad7d;
  --orange-red-3: #a23714;
  --orange-red-2: #771e05;
  --orange-red-1: #4d0e00;
  --gold-6: #f9cc44;
  --gold-5: #f7c034;
  --gold-7: #fadc6c;
  --gold-3: #a26f0f;
  --gold-2: #774b04;
  --gold-1: #4d2d00;
  --blue-6: #5aaafb;
  --blue-5: #469afa;
  --blue-7: #7dc1fc;
  --blue-3: #134ca3;
  --blue-2: #052f78;
  --blue-1: #001a4d;
  --purple-6: #8e51da;
  --purple-5: #7b3dd1;
  --purple-7: #a974e3;
  --purple-3: #3e138f;
  --purple-2: #27066e;
  --purple-1: #16004d;
  --yellow-6: #fbe94b;
  --yellow-5: #fae13c;
  --yellow-7: #fcf374;
  --yellow-3: #a38614;
  --yellow-2: #785e07;
  --yellow-1: #4d3800;
  --lime-6: #b8e24b;
  --lime-5: #a8db39;
  --lime-7: #cbe970;
  --lime-3: #629412;
  --lime-2: #447006;
  --lime-1: #2a4d00;
  --pink-purple-6: #e13ddb;
  --pink-purple-5: #d92ed9;
  --pink-purple-7: #e866df;
  --pink-purple-3: #8a0d93;
  --pink-purple-2: #650370;
  --pink-purple-1: #42004d;
  --plana-pink-6: #e13ddb;
  --plana-pink-5: #d92ed9;
  --plana-pink-7: #e866df;
  --plana-pink-3: #8a0d93;
  --plana-pink-2: #650370;
  --plana-pink-1: #42004d;
  --magenta-6: #eb509b;
  --magenta-5: #e63e95;
  --magenta-7: #f076ad;
  --magenta-3: #991462;
  --magenta-2: #73074a;
  --magenta-1: #4d0032;
  --explosion-6: #ce5d46;
  --explosion-5: #c24735;
  --explosion-7: #da816b;
  --explosion-3: #871912;
  --explosion-2: #6a0906;
  --explosion-1: #4d0000;
  --pierce-6: #d6a834;
  --pierce-5: #cc9827;
  --pierce-7: #e0c05d;
  --pierce-3: #8c5b0d;
  --pierce-2: #6c4105;
  --pierce-1: #4d2a00;
  --color-border-4: #6b6b6b;
  --color-border-3: #575757;
  --color-border-2: #474749;
  --color-border-1: #37373a;
  --color-fill-5: #a3a3a5;
  --color-fill-4: #828284;
  --color-fill-3: #474749;
  --color-fill-2: #414144;
  --color-fill-1: #37373a;
  --color-text-5: #ffffff;
  --color-fill-base: #242424;
  --color-text-4: #b8b8b8;
  --color-text-3: #8c8c8c;
  --color-text-2: #4d4d4d;
  --color-text-1: #1c1c1e;
  --unarmed-6: #408bb0;
  --unarmed-5: #2c739c;
  --unarmed-7: #62a7c4;
  --unarmed-3: #0e4874;
  --unarmed-2: #043660;
  --unarmed-1: #00264d;
  --vibrate-6: #b07fb8;
  --vibrate-5: #995ca6;
  --vibrate-7: #c498ca;
  --vibrate-3: #652179;
  --vibrate-2: #4c0d63;
  --vibrate-1: #36004d;
}

body {
  font-family: $eden-font-family;
}
