name: Deploy Eden Docs To Preview Environment
on:
  push:
    branches:
      - dev
      - "dev/**"
      - "feat/**"
    paths:
      - "apps/viewer-next/packages/eden-design/**"

concurrency:
  group: "eden-docs-deploy"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - uses: actions/setup-node@main
        with:
          node-version: 22
      - uses: pnpm/action-setup@master
        with:
          version: latest
      - name: Verify Change Logs
        run: node common/scripts/install-run-rush.js change --verify
      - name: Rush Update
        run: node common/scripts/install-run-rush.js update
      - name: Rush Install
        run: node common/scripts/install-run-rush.js install
      - name: pnpm build
        run: |
          cd apps/viewer-next/
          pnpm docs:build
      - name: Docs rsync deploy
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_PASS_PRODUCTION }}
          ARGS: "-rltgoDzvO -i --delete"
          SOURCE: "./apps/viewer-next/packages/eden-design/docs/.vitepress/dist/"
          REMOTE_HOST: ${{ secrets.SERVER_HOST_PRODUCTION }}
          REMOTE_USER: ${{ secrets.SERVER_USER_PRODUCTION }}
          TARGET: "/var/www/eden-docs"
          EXCLUDE: ".git*"
